[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
tensorflow = "==2.0.0-alpha0"
keras = "*"
jupyterlab = "*"
opencv-python = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
